<StackLayout>
    <Label text="Confirm Email"></Label>

    <Label
        text="We just sent an email to the address you gave us. Click the link in the message or enter the code into the box below to confirm
        your email and start using Passit."
    ></Label>

    <app-non-field-messages *ngIf="confirmCodeMessage" [messages]="[confirmCodeMessage]"></app-non-field-messages>

    <Label text="Code"></Label>

    <TextField
        #codeInput
        returnKeyType="done"
        (returnPress)="submit()"
        [(ngModel)]="code"
        autocorrect="false"
        autocapitalizationType="none"
    ></TextField>

    <Label
        *ngIf="errorMessage"
        [text]="errorMessage"
    ></Label>

    <Button
        (tap)="submit()"
        text="Confirm Code"
        [isEnabled]="!hasStarted"
    ></Button>

    <progress-indicator
        [inProgress]="hasStarted"
        inProgressText="Confirming email"
        [completed]="hasFinished"
        completedText="Confirmed email"
    ></progress-indicator>

    <StackLayout>
</StackLayout>